<?xml version="1.0" encoding="UTF-8"?>

<!-- 로그인 후 세팅 (닉네임 변경 , 비밀번호 변경 , 휴대폰 번호 변경 , 공개/비공개 모드 전환 , 탈퇴 등 )-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.sist.mapper.member.FollowMapper">
 	<!--키워드 검색을 통한 자신이 팔로잉 하는 리스트 -->
 	<select id="followingByKeyword" parameterType="RequestFollowDTO" resultType="MemberDTO">
 		SELECT nickname FROM MEMBER m
 		JOIN FOLLOW f ON m.id_num=f.following_id
 		WHERE f.id_num=#{idNum} AND
 		nickname LIKE CONCAT('%',#{keyword},'%')
 		LIMIT #{rowSize} OFFSET #{startRow}  
 	</select>
 
 	<!--키워드 검색을 통한 자신을 팔로워 하는 리스트 -->
 	<select id="followerByKeyword" parameterType="RequestFollowDTO" resultType="MemberDTO">
 		SELECT nickname FROM MEMEBER m
 		JOIN FOLLOW f ON m.id_num=f.following_id
 		WHERE following_id=#{idNum} AND
 		nickname LIKE CONCAT('%',#{keyword},'%')
 		LIMIT #{rowSize} OFFSET #{startRow}  
 	</select>
 	
 	
 	<select id="getFollowInFeed" parameterType="RequestFollowListDTO" resultType="MemberDTO">
	 	SELECT nickname,profile FROM FOLLOW f
	 	LEFT JOIN MEMBER m 
	 	<if test="flwType=='FOLLOWING'">	<!--팔로잉하는 사람들-->
	 	ON f.following_id=m.id_num
	 	WHERE f.id_num =#{idNum}
	 	</if>	
	 	<if test="flwType=='FOLLOWER'">	<!--팔로우 하는 사람-->
	 	ON f.id_num=m.id_num
	 	WHERE f.following_id =#{idNum}
	 	</if>
	 	ORDER BY follow_Date DESC
	 	LIMIT #{rowSize} OFFSET #{startRow}
 	</select>
 	
 
 	
 </mapper>