<?xml version="1.0" encoding="UTF-8"?>

<!-- 로그인 후 세팅 (닉네임 변경 , 비밀번호 변경 , 휴대폰 번호 변경 , 공개/비공개 모드 전환 , 탈퇴 등 )-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.sist.mapper.member.FollowMapper">
 	<!--키워드 검색을 통한 자신이 팔로잉 하는 리스트 -->
 	<select id="followingByKeyword" parameterType="FollowSearchDTO" resultType="MemberDTO">
 		SELECT nickname,profile FROM MEMBER m
 		JOIN FOLLOW f ON m.id_num=f.following_id
 		WHERE f.id_num=#{idNum} AND
 		nickname LIKE CONCAT('%',#{keyword},'%')
 		LIMIT #{rowSize} OFFSET #{startRow}  
 	</select>
 
 	<!--키워드 검색을 통한 자신을 팔로워 하는 리스트 -->
 	<select id="followerByKeyword" parameterType="FollowSearchDTO" resultType="MemberDTO">
 		SELECT nickname FROM MEMEBER m
 		JOIN FOLLOW f ON m.id_num=f.following_id
 		WHERE following_id=#{idNum} AND
 		nickname LIKE CONCAT('%',#{keyword},'%')
 		LIMIT #{rowSize} OFFSET #{startRow}  
 	</select>
 	
 	
 	<select id="getFollowInFeed" parameterType="FollowInFeedDTO" resultType="FollowInformDTO">
	 	SELECT nickname,profile,approve
	 	,(SELECT
	 	 approve FROM FOLLOW
	 	 WHERE id_num=#{idNum}
	 	 AND
	 	 following_id=
	 	 (
			SELECT id_num FROM 
			MEMBER 
			WHERE nickname=m.nickname
		 )	
	 	)as myApprove
	 	FROM FOLLOW f
	 	LEFT JOIN MEMBER m 
	 	<if test="flwType=='FOLLOWING'">	<!--팔로잉하는 사람들-->
	 	ON f.following_id=m.id_num
	 	WHERE f.id_num =(
		SELECT id_num FROM MEMBER
		WHERE nickname=#{nickname}	
		)
	 	and approve='FOLLOWOK'
	 	</if>	
	 	<if test="flwType=='FOLLOWER'">	<!--팔로우 하는 사람-->
	 	ON f.id_num=m.id_num
	 	WHERE f.following_id =(
		SELECT id_num FROM MEMBER
		WHERE nickname=#{nickname}	
		)
	 	and approve='FOLLOWOK'
	 	</if>
	 	ORDER BY follow_Date DESC
	 	LIMIT #{rowSize} OFFSET #{startRow}
 	</select>
 	
 <!--팔로잉 인서트 -->
 	
 <insert id="doFollow" parameterType="DoFollowDTO" keyProperty="followNum" useGeneratedKeys="true">
    INSERT INTO FOLLOW (id_num, following_id, approve)
    VALUES (
        #{idNum},
        (SELECT id_num FROM MEMBER WHERE nickname = #{nickname}),
        <choose>
            <when test="locked == 'LOCKED'">
                'FOLLOWNO'
            </when>
            <when test="locked == 'PUBLICID'">
                'FOLLOWOK'
            </when>
        </choose>
    )
</insert>

<!--팔로우 delete (언팔로우)-->
<delete id="unFollow" parameterType="UnFollowDTO">
DELETE FROM FOLLOW
WHERE id_num=#{idNum}
AND
following_id=
(
SELECT id_num FROM 
MEMBER 
WHERE nickname=#{nickname}	
)
</delete> 

<!--팔로우 요청 수락-->
<update id="acceptFollow" parameterType="HandleFollowReqDTO">
UPDATE FOLLOW SET
approve='FOLLOWOK'
WHERE following_id=#{idNum}
AND 
id_num=
(
SELECT id_num FROM 
MEMBER 
WHERE nickname=#{nickname}	
)
</update>
<!--팔로우 요청 거절 -->
<delete id="refuseFollow" parameterType="HandleFollowReqDTO">
DELETE FROM FOLLOW
WHERE following_id=#{idNum}
AND
id_num=
(
SELECT id_num FROM 
MEMBER 
WHERE nickname=#{nickname}	
)

</delete>

<!--팔로잉 cud 작업후 변한값 리턴 -->
<select id="afterFollow" parameterType="int" resultType="String">
SELECT approve FROM FOLLOW 
WHERE follow_num=#{followNum}
</select>



 </mapper>