<?xml version="1.0" encoding="UTF-8"?>

<!-- 회원 로그인 / 회원가입 관리 매퍼-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sist.mapper.member.jwtStoreMapper">
    <!--클라이언트로 받은 refresh 토큰이 진짜 인지 검증하기 위해  -->
	<select id="findRefresh" parameterType="String" resultType="int">
	Select count(*) from token_store where refresh=#{refresh}
	</select>
	<!-- id_num 고유번호를 이메일을 통해 갖고옴-->	
	<select id="findId_num" parameterType="String" resultType="int">
	SELECT id_num from member where email=#{email}
	</select>	
	<!--로그아웃을 위해(강제 로그아웃 도 포함) 데이터베이스에 리프레시 토큰을 지움
		/ 또한 새롭게 발급되는 리프레시 토큰을 삭제하고 다시 삽입해야하기때문에 
	-->
	<delete id="deleteRefresh" parameterType="String">
	delete from token_store where refresh=#{refresh}
	</delete>
	<!--리프레시 토큰을 데이터베이스에 저장함 ( 리프레시 토큰 발급시 (로그인성공, 재발급 )) -->
	<insert id="save" parameterType="TokenStoreVO">
	Insert into token_store (id_num,refresh,expiration)
	values(#{idNum},#{refresh},#{expiration})
	</insert>
	
	
	
 </mapper>