<?xml version="1.0" encoding="UTF-8"?>

<!-- 회원 로그인 / 회원가입 관리 매퍼-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sist.mapper.member.memberAccountMapper">
 
	<select id="findByUserEmail" parameterType="String" resultType="MemberVO">
	 
	Select * from member where email=#{email}
	</select>
	
	
	
	<select id="findByUserNickname" parameterType="String" resultType="MemberVO">
	 
	Select * from member where nickname=#{nickname}
	</select>
	
	<select id="findByUserPhone" parameterType="String" resultType="MemberVO">

	Select * from member where phone=#{phone}
	</select>
	
	<insert id="join" parameterType="MemberVO">
	
	Insert into member (email,password,nickname,name,phone,profile,introduce,role)
	values(#{email},#{password},#{nickname},#{name},#{phone},#{profile},#{introduce},#{role})
	</insert>
	
	
	
 </mapper>