<?xml version="1.0" encoding="UTF-8"?>

<!-- 회원 로그인 / 회원가입 관리 매퍼-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sist.mapper.JwtStoreMapper">
<!--클라이언트로 받은 refresh 토큰이 진짜 인지 검증하기 위해  -->
<select id="findRefresh" parameterType="String" resultType="int">
/* 리프레시 토큰 검증 */
  SELECT COUNT(*)
    FROM TOKEN_STORE
   WHERE refresh = #{refresh}
</select>
	
<!--로그아웃을 위해(강제 로그아웃 도 포함) 데이터베이스에 리프레시 토큰을 지움
	/ 또한 새롭게 발급되는 리프레시 토큰을 삭제하고 다시 삽입해야하기때문에 
-->
<delete id="deleteRefresh" parameterType="String">
/* 로그아웃, 리프레시 토큰 데이터베이스 삭제 */
DELETE 
  FROM TOKEN_STORE
 WHERE refresh = #{refresh}
</delete>

<!--리프레시 토큰을 데이터베이스에 저장함 ( 리프레시 토큰 발급시 (로그인성공, 재발급 )) -->
<insert id="save" parameterType="TokenStoreDTO">
  /* 리프레시 토큰 발급,재발급 */
INSERT INTO TOKEN_STORE (id_num,refresh,expiration,browser)
       VALUES (
               #{idNum}
              ,#{refresh}
              ,#{expiration}
              ,#{browser}
              )
</insert>

 </mapper>