<?xml version="1.0" encoding="UTF-8"?>

<!-- 피드관련-->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sist.mapper.feed.FeedMapper">
 <!-- 사용자 피드에서 게시물 리스트를 제외한 피드정보 가져오기 ( 닉네임,프로필사진 ,자기소개 , 비공개여부 , 게시물등록수 , 팔로잉수 , 팔로워 수 ) -->
 <select id="userFeedInfoFromMember" parameterType="GetUserFeedInformDTO" resultType="UserFeedInformDTO">
	SELECT profile,nickname,introduce,locked, <!-- 프로필사진,닉네임,자기소개,비공개/공개 여부 -->
	(
	SELECT COUNT(*) FROM POST     
	WHERE id_num= m.id_num
	<if test="!itsMe">
	AND onlyME !='ONLYME'
	</if>
	) as postAmount, <!-- 게시글 개수-->
	(
	SELECT COUNT(*) FROM FOLLOW 
	WHERE following_id= m.id_num
	AND 
	approve='FOLLOWOK'
	) as followerAmount,  <!-- 팔로워 수 -->
	(
	SELECT COUNT(*) FROM FOLLOW  
	WHERE id_num= m.id_num
	AND 
	approve='FOLLOWOK'
	) as followingAmount  <!-- 팔로잉 수 -->
	<!-- 현재 조회할 피드가 현재 세션 유저가 아니라면 , (내 피드가 아닌 다른 유저피드라면) 셀렉트할 컬럼 추가-->
	<if test="!itsMe">
	,
	(
	SELECT COALESCE(COUNT(*),0) FROM FOLLOW   <!--팔로우 테이블에서 카운트 값을 -->
	WHERE  <!--어디서-->
	id_num = #{sessionIdNum} <!-- 회원 고유번호가 매개변수로 받은 현재 세션 회원번호-->		  	
	AND  <!--그리고-->
	following_id= <!--팔로우 테이블의 팔로우하는 아이디 고유번호가  -->
	(
	SELECT id_num FROM MEMBER  <!-- (서브쿼리)멤버테이블에 있는 회원고유번호를 -->
	WHERE nickname=#{nickname}  <!-- 닉네임 컬럼 = 매개변수로 받은  닉네임 -->
	) 
    AND  <!-- 그리고 -->
	approve='FOLLOWOK' <!--승인상태가 팔로우 요청승인인 상태 -->
	) as followOKCount	<!-- alias followOKCount-->
	,
	(
	SELECT COALESCE(COUNT(*),0) FROM FOLLOW <!-- 팔로우 테이블에서 카운트 값을 -->
	WHERE  <!--어디서-->
	id_num = #{sessionIdNum}	<!-- 회원 고유번호가 매개변수로 받은 현재 세션 회원번호-->		  	
	AND<!--그리고-->
	following_id= <!--팔로우 테이블의 팔로우하는 아이디 고유번호가  -->
	(
	SELECT id_num FROM MEMBER <!-- (서브쿼리)멤버테이블에 있는 회원고유번호를 -->
	WHERE nickname=#{nickname} <!-- 닉네임 컬럼 = 매개변수로 받은  닉네임 -->
	) 	 
	AND  <!-- 그리고 -->
	approve='FOLLOWNO'<!--승인상태가 팔로우 요청대기 상태 -->
	) as followNOCount<!-- alias followNOCount-->
	,
	(
	SELECT COALESCE(COUNT(*),0) FROM FOLLOW <!-- 팔로우 테이블에서 카운트 값을 -->
	WHERE  <!--어디서-->
	id_num = #{sessionIdNum}	<!-- 회원 고유번호가 매개변수로 받은 현재 세션 회원번호-->		 	  	
	AND<!--그리고-->
	following_id= <!--팔로우 테이블의 팔로우하는 아이디 고유번호가  -->
	(
	SELECT id_num FROM MEMBER <!-- (서브쿼리)멤버테이블에 있는 회원고유번호를 -->
	WHERE nickname=#{nickname}<!-- 닉네임 컬럼 = 매개변수로 받은  닉네임 -->
	) 	  <!--팔로우 요청 상태여부 상관없는 개수 -->
	) as followAllCount <!--alias followAllCount-->
	</if>
	FROM MEMBER m <!-- 멤버테이블에서 -->
	WHERE nickname=#{nickname}  <!-- 닉네임이 매개변수로 받은 닉네임 인곳에서-->
</select>


 
<!--현재 세션 회원 프로필 이미지 갖고오기-->
 <select id="profileImgGet" parameterType="int" resultType="String">
	 SELECT profile FROM MEMBER
	 WHERE id_num=#{idNum}
 </select>
 
 <!--프로필 사진 업데이트-->
 <update id="profileImgUpdate" parameterType="UpdateProfileDTO">
	 UPDATE MEMBER SET
	 profile=#{profile}
	 WHERE id_num=#{idNum}
 </update>
 
 
 <!-- 자기소개 변경 업데이트-->
<update id="introduceUpdate" parameterType="UpdateProfileDTO">
UPDATE MEMBER SET 
introduce=#{introduce}
WHERE id_num=#{idNum}
</update>
 </mapper>